<div class="container-fluid">
    <h1 class="text-center">模式查找</h1>
    <h3 class="text-center">结果根据 <%= "#{@total_draw}" %> 次开奖记录</h3>
    <div class="row">
        <%= react_component("SearchNumberPattern") %>
    </div>
</div>
